/*Kolufan - Food & Restaurant Mobile Template*/

/*table of content

general
button default
navbar
title header
slider
chef home
restaurant home
popular menu
search
serarchbar
chef
menu category
menu
menu single
categories
login
register
forgot password
blog
blog single
restaurant
restaurant single
pages
form
placeholder

*/

/*general*/
.md body {
    font-family: 'Prompt', sans-serif;
    color: #888;
    font-size: 13px;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 110%;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    color: #222;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
    line-height: 25px;
}

h5 {
    font-size: 16px;
    line-height: 22px;
}

h6 {
    font-size: 14px;
}

p {
    margin: 0;
}

img {
    display: block;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

.md a {
    color: #333;
}

.md a:focus {
    outline: 0;
}

.container {
    padding: 0 16px;
}

.section-title {
    margin-bottom: 20px;
}

.section-title h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}

.section-title h3 .see-all-link {
    float: right;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
    color: #d00807;
    font-weight: 500;

}

.title-pages h3 {
    font-size: 32px;
}

.wrap-title {
    margin-bottom: 15px;
}

.wrap-title h3 {
    font-size: 18px;
    font-weight: 600;
}

.segments {
    padding: 30px 0 0;
}

.segments-page {
    padding: 83px 0 30px;
}

.page-content {
    padding-top: 0 !important;
}

.page-content a.nav-back {
    position: fixed;
    top: 20px;
    left: 16px;
    z-index: 99;
}

.page-content a.nav-back i {
    color: #fff;
    background: #888;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
}

.date {
    margin: 8px 0 0;
    display: inline-block;
    font-size: 12px;
}

.md .list {
    margin: 0;
}

.md .page-home {
    padding-bottom: 45px;
}

.row {
    margin-bottom: 25px;
}

.row:last-child {
    margin-bottom: 0;
}

/*button default*/
.md .button {
    background: #d00807;
    color: #fff;
    margin-top: 20px;
    border-radius: 3px;
    padding: 6px 15px;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
}

.button i {
    margin-right: 10px;
}

.button-close {
    position: fixed;
    top: 20px;
    left: 16px;
    z-index: 10;
}

.button-close i {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #888;
    border-radius: 50%;
}

/*navbar home*/
.md .navbar-home {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    height: 45px;
    background: #d00807;
}

.md .navbar-home .block {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 0;
}

.md .navbar-home .block .link i {
    font-size: 20px;
    color: #fff;
}

.md .navbar-home .block .link .bars-icon {
    transform: rotate(-90deg);
}

.md .navbar-inner {
    height: 100%;
}

.md .navbar::before {
    background: #eee;
    height: 1px;
}

.md .navbar a.link {
    display: block;
    text-align: center;
    padding: 2px 0;
}

/*navbar page*/
.md .navbar-page {
    background: #fff;
}

.md .navbar-page::after {
    height: 1px;
    background: transparent;
}

.md .navbar-page .navbar-inner .left i {
    color: #888;
}

.md .navbar-page .navbar-inner .title {
    position: absolute;
    left: 36px;
    right: 36px;
    text-align: center;
    color: #333;
    font-size: 16px;
}

.md .navbar-page .navbar-inner .right i {
    color: #333;
    padding: 0 16px;
}

.md .navbar-page .subnavbar {
    background: #fff;
    padding: 0 16px 10px;
    height: auto;
}

.md .navbar-page .subnavbar::after {
    height: 1px;
    background: -webkit- #eee;
    background: -webkit- #eee;
    background: #eee;
}

.subnavbar::before {
    height: 1px;
    background: #eee;
}

/*title header*/
.title-header {
    padding: 27px 0 15px;
}

.title-header .logos h2 {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;

}

.title-header .icon-search {
    text-align: right;
}

.title-header .icon-search i {
    font-size: 22px;
    position: relative;
    top: 3px;
}

/*slider*/
.slider .swiper-container {
    padding: 0 16px;
}

.slider .swiper-container .swiper-slide {
    width: 300px !important;
}

@media (max-width: 320px) {
    .slider .swiper-container .swiper-slide {
        width: 270px !important;
    }
}

.slider .swiper-container .swiper-slide .content {
    position: relative;
}

.slider .swiper-container .swiper-slide .content img {
    width: 100%;
    border-radius: 6px;
}

.slider .swiper-container .swiper-slide .content .caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
}

.slider .swiper-container .swiper-slide .content .caption h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}

.slider .swiper-container .swiper-slide .content .caption span {
    color: #ddd;
}

.slider .swiper-container .swiper-slide .content .mask {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}

/*chef home*/
.chef-home .content {
    text-align: center;
}

.chef-home .content img {
    width: 45px;
    height: 100%;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.chef-home .content .title-name h6 {
    font-weight: 400;
}

/*restaurant home*/
.restaurant-home.segments {
    padding-top: 26px;
}

.restaurant-home .section-title {
    padding: 0 16px;
}

.restaurant-home .swiper-container {
    padding: 0 16px;
}

.restaurant-home .swiper-container .swiper-slide {
    width: 200px !important;
}

.restaurant-home .swiper-container .swiper-slide .content img {
    width: 100%;
    border-radius: 6px;
}

.restaurant-home .swiper-container .swiper-slide .content .text {
    padding-top: 10px;
}

.restaurant-home .swiper-container .swiper-slide .content .text h4 {
    margin-bottom: 0;
    font-size: 16px;
    color: #555;
}

.restaurant-home .swiper-container .swiper-slide .content .text span {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
}

.restaurant-home .swiper-container .swiper-slide .content .text span i {
    margin-right: 5px;
    color: #d00807;
}

.restaurant-home .swiper-container .swiper-slide .content .text p {
    color: #666;
}

/*popular menu*/
.popular-menu.segments {
    padding-top: 26px;
    padding-bottom: 30px;
}

.popular-menu .content img {
    width: 100%;
    border-radius: 6px;
}

.popular-menu .content .text {
    padding-top: 10px;
}

.popular-menu .content .text h4 {
    margin-bottom: 0;
    font-size: 16px;
    color: #555;
}

.popular-menu .content .text span {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
}

.popular-menu .content .text .price {
    color: #d00807;
    font-weight: 600;
    font-size: 14px;
}

/*search*/
.search.segments-page {
    padding: 122px 0 30px;
}

.md .search .list ul li {
    height: auto;
    padding: 0;
}

.md .search .list ul::before,
.md .search .list ul::after {
    display: none;
}

.md .searchbar .input-clear-button::after {
    line-height: 30px;
}

.search .searchbar-not-found .row {
    margin-bottom: 0;
}

.search .searchbar-not-found .row:last-child .content-text {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

.search .searchbar-not-found .row {
    margin-bottom: 20px;
}

.search .searchbar-not-found .row:last-child {
    margin-bottom: 0;
}

.search .searchbar-not-found .content {
    position: relative;
}

.search .searchbar-not-found .content img {
    width: 100%;
    border-radius: 8px;
}

.search .searchbar-not-found .content i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    color: #fff;
}

.search .list .content-text .rate {
    margin: 4px 0;
}

.search .list .content-text .rate i {
    font-size: 18px;
    color: #d00807;
}

.search .list .content-text .price {
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

.search .list .content-text .rate i:last-child {
    color: #888;
}

.search .type-search {
    margin-bottom: 20px;
}

.search .type-search ul::before {
    display: none;
}

.search .type-search ul::after {
    display: none;
}

.search .type-search ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.search .type-search ul li:last-child {
    margin-bottom: 0;
}

.search .type-search ul li a {
    color: #888;
}

.search .type-search ul li a i {
    font-size: 18px;
    margin-right: 10px;
    vertical-align: top;
}

.search .popular-search {
    margin-bottom: 0;
}

.search .popular-search ul li i {
    vertical-align: top;
    color: #d00807;
}

/*searchbar*/
.md .searchbar {
    margin: 0;
    height: 30px;
    background: transparent;
}

.md .searchbar .searchbar-inner .searchbar-input-wrap input {
    background: #eee;
    border-radius: 6px;
    padding-left: 50px;
    font-size: 14px;
}

.md .searchbar .searchbar-inner .searchbar-input-wrap .searchbar-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    margin-left: 0;
}

.md .searchbar .searchbar-inner .searchbar-input-wrap .input-clear-button {
    width: 30px;
    height: 30px;
    margin-top: -16px;
    right: 10px;
}

.md .page-content .searchbar {
    box-shadow: none;
    height: 38px;
    margin: 0;
}

/*chef*/
.chef .wrap-content {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.09);
    margin-bottom: 25px;
}

.chef .wrap-content .content-image img {
    width: 100%;
    border-radius: 6px;
}

.chef .wrap-content .content-text {
    padding: 10px 0;
}

.chef .wrap-content .content-text h4 {
    margin-bottom: 3px;
}

.chef .wrap-content .content-text span {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 12px;
}

.chef .wrap-content .content-text .wrap-media ul li {
    display: inline-block;
    margin-right: 5px;
}

.chef .wrap-content .content-text .wrap-media ul li:last-child {
    margin-right: 0;
}

.chef .wrap-content .content-text .wrap-media ul li i {
    display: inline-block;
    font-size: 13px;
}

.chef .wrap-content .content-text .wrap-media ul li i.ti-facebook {
    color: #3b5999;
}

.chef .wrap-content .content-text .wrap-media ul li i.ti-twitter {
    color: #55acee;
}

.chef .wrap-content .content-text .wrap-media ul li i.ti-google {
    color: #dd4b39;
}

/*menu category*/
.menu-category .wrap-content {
    margin-bottom: 25px;
}

.menu-category .wrap-content .section-title {
    padding: 0 16px;
}

.menu-category .wrap-content .swiper-container {
    padding: 0 16px;
}

.menu-category .wrap-content .swiper-container .swiper-slide {
    width: 200px !important;
}

.menu-category .wrap-content .swiper-container .swiper-slide .content img {
    width: 100%;
    border-radius: 6px;
}

.menu-category .wrap-content .swiper-container .swiper-slide .content .text {
    padding-top: 10px;
}

.menu-category .wrap-content .swiper-container .swiper-slide .content .text h4 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #555;
}

.menu-category .wrap-content .swiper-container .swiper-slide .content .text span {
    display: inline-block;
    margin-bottom: 7px;
}

.menu-category .wrap-content .swiper-container .swiper-slide .content .text .price {
    color: #d00807;
    font-weight: 600;
    font-size: 14px;
}

/*menu*/
.menu.segments {
    padding-bottom: 30px;
}

.menu .content img {
    width: 100%;
    border-radius: 6px;
}

.menu .content .text {
    padding-top: 10px;
}

.menu .content .text h4 {
    margin-bottom: 5px;
}

.menu .content .text span {
    display: inline-block;
    margin-bottom: 7px;
}

.menu .content .text .price {
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

/*menu single*/
.menu-single .header img {
    width: 100%;
    border-radius: 6px;
}

.menu-single .desc {
    padding-top: 15px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.menu-single .desc .price {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.menu-single .desc span {
    display: inline-block;
    margin-bottom: 5px;
}

.menu-single .desc h4 {
    margin-bottom: 7px;
}

.menu-single .desc .rate {
    margin-bottom: 10px;
}

.menu-single .desc .rate i {
    color: #d00807;
    font-size: 20px;
}

.menu-single .desc .rate i:last-child {
    color: #888;
}

.menu-single .comment-people .button {
    margin-bottom: 20px;
}

.menu-single .comment-people .content {
    display: flex;
    margin-bottom: 15px;
}

.menu-single .comment-people .content:last-child {
    margin-bottom: 0;
}

.menu-single .comment-people .content img {
    width: 45px;
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
}

.menu-single .comment-people .content .text h5 {
    margin-bottom: 3px;
}

.menu-single .comment-people .content .text span {
    display: inline-block;
    margin-bottom: 3px;
    font-weight: 300;
    font-size: 12px;
}

.add-comments {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: auto;
    width: auto;
    border-radius: 8px;
    background: #fff;
    padding: 30px;
    text-align: center;
}

/*categories*/
.categories .content {
    position: relative;
    margin-bottom: 20px;
}

.categories .content:last-child {
    margin-bottom: 0;
}

.categories .content .mask {
    background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66));
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}

.categories .content img {
    width: 100%;
    height: 188px;
    border-radius: 6px;
    object-fit: cover;
}

.categories .content .title {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.categories .content .title h4 {
    color: #fff;
    font-size: 20px;
}

/*login*/
.md .login .logos {
    text-align: center;
    margin-bottom: 25px;
}

.md .login .logos .image {
    width: 80px;
    height: 80px;
    background: #d00807;
    display: inline-block;
    border-radius: 6px;
    line-height: 80px;
    position: relative;
}

.md .login .logos .image img {
    width: 65px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.md .login .list .item-input-wrap.no-mb {
    margin-bottom: 0;
}

.md .login .list .item-content {
    padding-left: 0;
}

.md .login .list .item-content .icon {
    margin-right: 10px;
}

.md .login .list .item-content .icon.icon-checkbox {
    width: 15px;
    height: 15px;
}

.md .login .list .item-content .icon.icon-checkbox::after {
    width: 15px;
    height: 15px;
}

.md .login .list .item-content .item-inner .item-title {
    font-size: 13px;
}

.md .login .list .item-content .item-inner::after {
    display: none;
}

.md .login .list .item-content.item-checkbox.active-state {
    background: transparent;
}

.md .login .list .button {
    margin-top: 0;
}

.md .login .forgot-link {
    margin-top: 20px;
}

.md .login .forgot-link a {
    color: #d00807;
}

.md .login .login-with {
    margin-top: 15px;
    text-align: center;
}

.md .login .login-with p {
    margin-bottom: 15px;
    color: #333;
}

.md .login .login-with ul li {
    display: inline-block;
    margin: 0 10px;
}

.md .login .login-with ul li a i {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
}

.md .login .login-with ul li a i.ti-facebook {
    background: #3b5999;
}

.md .login .login-with ul li a i.ti-twitter {
    background: #55acee;
}

.md .login .login-with ul li a i.ti-google {
    background: #dd4b39;
}

/*register*/
.md .register .list .item-content {
    padding-left: 0;
}

.md .register .list .item-content .icon {
    margin-right: 10px;
}

.md .register .list .item-content .icon.icon-checkbox {
    width: 15px;
    height: 15px;
}

.md .register .list .item-content .icon.icon-checkbox::after {
    width: 15px;
    height: 15px;
}

.md .register .list .item-content .item-inner .item-title {
    font-size: 13px;
}

.md .register .list .item-content .item-inner::after {
    display: none;
}

.md .register .list .item-content.item-checkbox.active-state {
    background: transparent;
}

.md .register .register-with {
    margin-top: 15px;
    text-align: center;
}

.md .register .register-with p {
    margin-bottom: 15px;
    color: #333;
}

.md .register .register-with ul li {
    display: inline-block;
    margin: 0 10px;
}

.md .register .register-with ul li a i {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
}

.md .register .register-with ul li a i.ti-facebook {
    background: #3b5999;
}

.md .register .register-with ul li a i.ti-twitter {
    background: #55acee;
}

.md .register .register-with ul li a i.ti-google {
    background: #dd4b39;
}

/*forgot password*/
.md .forgot-password .logos {
    text-align: center;
    margin-bottom: 25px;
}

.md .forgot-password .logos i {
    width: 80px;
    height: 80px;
    background: #d00807;
    display: inline-block;
    border-radius: 6px;
    line-height: 80px;
    color: #fff;
    font-size: 35px;
}

.md .forgot-password .logos h4 {
    margin: 15px 0 10px;
}

.md .forgot-password .list .item-input-wrap.no-mb {
    margin-bottom: 0;
}

.md .forgot-password .list .item-content {
    padding-left: 0;
}

.md .forgot-password .list .item-content .icon {
    margin-right: 10px;
}

.md .forgot-password .list .item-content .icon.icon-checkbox {
    width: 15px;
    height: 15px;
}

.md .forgot-password .list .item-content .icon.icon-checkbox::after {
    width: 15px;
    height: 15px;
}

.md .forgot-password .list .item-content .item-inner .item-title {
    font-size: 13px;
}

.md .forgot-password .list .item-content .item-inner::after {
    display: none;
}

.md .forgot-password .list .item-content.item-checkbox.active-state {
    background: transparent;
}

.md .forgot-password .list .button {
    margin-top: 0;
}

.md .forgot-password .forgot-link {
    margin-top: 20px;
}

.md .forgot-password .forgot-link a {
    color: #d00807;
}

.md .forgot-password .forgot-password-with {
    margin-top: 15px;
    text-align: center;
}

.md .forgot-password .forgot-password-with p {
    margin-bottom: 15px;
    color: #333;
}

.md .forgot-password .forgot-password-with ul li {
    display: inline-block;
    margin: 0 10px;
}

.md .forgot-password .forgot-password-with ul li a i {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
}

.md .forgot-password .forgot-password-with ul li a i.ti-facebook {
    background: #3b5999;
}

.md .forgot-password .forgot-password-with ul li a i.ti-twitter {
    background: #55acee;
}

.md .forgot-password .forgot-password-with ul li a i.ti-google {
    background: #dd4b39;
}

/*blog*/
.blog .content-image img {
    width: 100%;
    border-radius: 6px;
}

.blog .content-text h4 {
    margin-bottom: 10px;
}

.blog .content-text span {
    font-size: 12px;
    font-weight: 300;
}

.blog .pagination ul li {
    margin-right: 10px;
    list-style-type: none;
    display: inline-block;
}

.blog .pagination ul li:last-child {
    margin-right: 0;
}

.blog .pagination ul li a {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    background: #fff;
    border: 1px solid #888;
    text-align: center;
    border-radius: 3px;
    color: #888;
}

.blog .pagination ul li a.active {
    background: #d00807;
    color: #fff;
    border-color: #d00807;
}

/*blog single*/
.blog-single .header img {
    width: 100%;
    border-radius: 6px;
}

.blog-single .desc {
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.blog-single .desc h4 {
    margin-bottom: 10px;
}

.blog-single .desc .author {
    display: flex;
    margin-bottom: 10px;
}

.blog-single .desc .author img {
    width: 32px;
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

.blog-single .desc .author .title-name h5 span {
    font-size: 12px;
    font-weight: 300;
    margin-left: 10px;
    color: #888;
}

/*restaurant*/
.restaurant .content {
    position: relative;
    margin-bottom: 20px;
}

.restaurant .content .mask {
    background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66));
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}

.restaurant .content img {
    width: 100%;
    height: 188px;
    border-radius: 6px;
    object-fit: cover;
}

.restaurant .content .title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
}

.restaurant .content .title h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}

.restaurant .content .title span {
    color: #fff;
}

.restaurant .content .title span i {
    margin-right: 10px;
}

/*restaurant single*/
.restaurant-single .header img {
    width: 100%;
    border-radius: 6px;
}

.restaurant-single .desc {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.restaurant-single .desc h4 {
    margin-bottom: 8px;
}

.restaurant-single .desc span {
    color: #888;
    display: inline-block;
    margin-bottom: 8px;
}

.restaurant-single .desc span i {
    margin-right: 10px;
}

.restaurant-single .desc p {
    color: #333;
}

.restaurant-single .resto-menu .content-image img {
    width: 100%;
    border-radius: 6px;
}

.restaurant-single .resto-menu .content-text h5 {
    margin-bottom: 3px;
}

.restaurant-single .resto-menu .content-text .button-order {
    padding: 3px 10px;
    background: #d00807;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    margin-top: 8px;
}

.restaurant-single .resto-menu .content-text .button-order i {
    margin-right: 8px;
}

.restaurant-single .resto-menu.new-menu {
    padding-bottom: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

/*pages*/
.md .pages .content ul li {
    margin-bottom: 12px;
}

.md .pages .content ul li:last-child {
    margin-bottom: 0;
}

.md .pages .content ul li .item-title {
    position: relative;
}

.md .pages .content ul li .item-title span {
    font-size: 14px;
    font-weight: 500;
    display: block;
    line-height: 28px;
    padding-left: 35px;
}

.md .pages .content ul li .item-title i:first-child {
    position: absolute;
    left: 0;
    line-height: 27px;
    font-size: 18px;
    color: #d00807;
}

.md .pages .content ul li .item-title i:last-child {
    font-size: 16px;
    float: right;
    color: #888;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 27px;
}

/*form*/
.md .list .item-input-wrap {
    margin-bottom: 15px;
}

.md .list .item-input-wrap::after {
    background: transparent;
}

.md .list .item-input-wrap input {
    font-size: 14px;
    background: #eee;
    border-radius: 3px;
    padding: 10px 20px;
}

.md .list .item-input-wrap textarea {
    font-size: 14px;
    background: #eee;
    border-radius: 3px;
    padding: 10px 20px;
}

.md .list .input-dropdown-wrap select {
    font-size: 14px;
    background: #eee;
    border-radius: 3px;
    padding: 7px 20px;
    color: #888;
}

.md .list .input-dropdown-wrap::before {
    right: 10px;
}

/*placeholder*/
::-webkit-input-placeholder {
    color: #888 !important;
}

::-moz-placeholder {
    color: #888 !important;
}

:-ms-input-placeholder {
    color: #888 !important;
}

:-moz-placeholder {
    color: #888 !important;
}